body {
    margin: 0;
    padding: 0;
    background: url(https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-1.2.1&w=1000&q=80) no-repeat;
    background-size: cover;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0f2027;
    text-align: center;
    border-radius: 25px;
}

.box .green {
    color: green;
}

.box .red {
    color: red;
}

.box h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}


.box input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2c5364;
    font-size: 15px;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus {
    width: 280px;
    border-color: #2ecc71;

}

.box input[type="submit"] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 40px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}